span.spacing{
    margin-right: 10px;
}
input.custom-width{
    width: 200px;
}
input.spacing{
    margin-right: 5px;
}
.chooseType{
   
    border: 1px solid black;
    padding: 10px;
    align-content: center;
}
.divovi{
	background-color:red;
}
.spacing{
	height: 100px;
}
.brand{
    position: relative;
    align-content: center;
    vertical-align: middle;
    padding-bottom: 10px;
}
#brandImg {
    border: none;
    /*margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;*/
}